<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <p class="lead">It’s not a myth; Direct Dispatch saves every customer up to 30% on every transport.</p>
                        <p><strong>Why?</strong> Brokers charge hefty fees and are notorious for causing major delays during the transport. Direct Dispatch connects you directly to our network of car carrier’s saving you hundreds of dollars.</p>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <table class="button">
                            <tr>
                                <td>
                                    <a href="https://direct-dispatch.com/shipper/app/view-quote/<%= _id %>/<%= token %>">Setup Order Now</a>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Quote # <%= _id %></h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <img width="580" height="340" src="https://direct-dispatch.com/api/map-image/quote/<%= _id %>/<%= token %>/580/340/map.png">
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Shipment Details</h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="container">
    <tr>
        <td class="wrapper last">

            <table style="width: 100%" class="border">
                <tr>
                    <td><strong>Origin</strong></td>
                    <td><%= origin.city %>, <%= origin.state %> <%= origin.zip %></td>
                </tr>
                <tr>
                    <td><strong>Destination</strong></td>
                    <td><%= destination.city %>, <%= destination.state %> <%= destination.zip %></td>
                </tr>
                <tr>
                    <td><strong>Distance</strong></td>
                    <td><%= distance %> miles</td>
                </tr>
                <tr>
                    <td><strong>Carrier Type</strong></td>
                    <td><%= carrierType %></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<br />

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Vehicles Information</h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="container">
    <tr>
        <td class="wrapper last">

            <table style="width: 100%" class="border">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Condition</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <% vehicles.forEach(function (vehicle, index) { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= vehicle.make %> <%= vehicle.model %></td>
                        <td><%= vehicle.type %></td>
                        <td><%= vehicle.condition %></td>
                        <td><%= utils.getVehiclePrice(vehicle) ? '$' + utils.getVehiclePrice(vehicle) : 'N/A' %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

        </td>
    </tr>
</table>
<br />

<% if (utils.getTotalPrice(vehicles)) { %>
<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Total Package</h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<table class="container">
    <tr>
        <td class="wrapper last">

            <table style="width: 100%" class="border">
                <thead>
                    <tr>
                        <th>Standard Price</th>
                        <th>Expedited Price</th>
                        <th>Rush Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Upto 7 days</td>
                        <td>Upto 5 days</td>
                        <td>Within 2 days</td>
                    </tr>
                    <tr>
                        <td><strong>$<%= utils.getTotalPrice(vehicles, utils.packagePrices['Standard']) %></strong></td>
                        <td><strong>$<%= utils.getTotalPrice(vehicles, utils.packagePrices['Expedited']) %></strong></td>
                        <td><strong>$<%= utils.getTotalPrice(vehicles, utils.packagePrices['Rush']) %></strong></td>
                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>
<% } else { %>
<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <h5>

                            Call <a href="tel:(800)918-5520">(800) 918-5520</a> to get Quote

                        </h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<% } %>
<br />

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <p>With over 15,000 auto transport carriers in the Direct Dispatch Network, you can rest assured that we’ll connect you with a carrier, and at the best price possible.</p>
                        <p>It’s never been easier, more secure and cost-effective to ship your vehicles.</p>
                        <p><strong>Why Direct Dispatch?</strong></p>
                        <ul>
                            <li>We do not charge you a broker</li>
                            <li>You are dealing with carriers direct</li>
                            <li>We ship 40,000 cars annually</li>
                            <li>Track your vehicle</li>
                            <li>Were simply not a commission driven company</li>
                        </ul>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <table class="button">
                            <tr>
                                <td>
                                    <a href="https://direct-dispatch.com/shipper/app/view-quote/<%= _id %>/<%= token %>">Setup Order Now</a>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>