<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <p class="lead">BEWARE OF SHIPPING BROKERS!</p>
                        <p>Shipping brokers have one goal: to close a deal.  And they’ll do whatever it takes to take your money, even if it means deceptive business practices.</p>
                        <p>Brokers commonly use misleading business names. Their business appears to be operating as a car carrier company, while they are really brokers outsourcing the shipment to a carrier. This costs you money and often times many headaches as the shipment is not picked up or delivered as scheduled. Brokers fees cost you hundreds of dollars.</p>
                        <br>
                        <p>Direct Dispatch has 25 years in the shipping industry, and our goal was to remove the middleman. Our innovative system connects you directly to the car carriers without having to use a shipping broker. Since our launch we’ve experienced great success. We now have over 15,000 certified car carriers in our Direct Dispatch Network.</p>
                        <p>Interested in finding out just how low our prices are? We welcome you to visit <a href="https://direct-dispatch.com">our website</a> and learn more about the Direct Dispatch Advantage. Not only will you have the opportunity to save money, but you’ll also discover the multitude of benefits only Direct Dispatch can provide.</p>
                        <p>So, what are you waiting for?</p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <table class="button">
                            <tr>
                                <td>
                                    <a href="https://direct-dispatch.com/shipper/app/view-quote/<%= _id %>/<%= token %>">Setup Order Now</a>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Quote # <%= _id %></h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <img width="580" height="340" src="https://direct-dispatch.com/api/map-image/quote/<%= _id %>/<%= token %>/580/340/map.png">
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Shipment Details</h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="container">
    <tr>
        <td class="wrapper last">

            <table style="width: 100%" class="border">
                <tr>
                    <td><strong>Origin</strong></td>
                    <td><%= origin.city %>, <%= origin.state %> <%= origin.zip %></td>
                </tr>
                <tr>
                    <td><strong>Destination</strong></td>
                    <td><%= destination.city %>, <%= destination.state %> <%= destination.zip %></td>
                </tr>
                <tr>
                    <td><strong>Distance</strong></td>
                    <td><%= distance %> miles</td>
                </tr>
                <tr>
                    <td><strong>Carrier Type</strong></td>
                    <td><%= carrierType %></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<br />

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Vehicles Information</h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="container">
    <tr>
        <td class="wrapper last">

            <table style="width: 100%" class="border">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Condition</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <% vehicles.forEach(function (vehicle, index) { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= vehicle.make %> <%= vehicle.model %></td>
                        <td><%= vehicle.type %></td>
                        <td><%= vehicle.condition %></td>
                        <td><%= utils.getVehiclePrice(vehicle) ? '$' + utils.getVehiclePrice(vehicle) : 'N/A' %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

        </td>
    </tr>
</table>
<br />

<% if (utils.getTotalPrice(vehicles)) { %>
<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <h5>Total Package</h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<table class="container">
    <tr>
        <td class="wrapper last">

            <table style="width: 100%" class="border">
                <thead>
                    <tr>
                        <th>Standard Price</th>
                        <th>Expedited Price</th>
                        <th>Rush Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Upto 7 days</td>
                        <td>Upto 5 days</td>
                        <td>Within 2 days</td>
                    </tr>
                    <tr>
                        <td><strong>$<%= utils.getTotalPrice(vehicles, utils.packagePrices['Standard']) %></strong></td>
                        <td><strong>$<%= utils.getTotalPrice(vehicles, utils.packagePrices['Expedited']) %></strong></td>
                        <td><strong>$<%= utils.getTotalPrice(vehicles, utils.packagePrices['Rush']) %></strong></td>
                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>
<% } else { %>
<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <h5>

                            Call <a href="tel:(800)918-5520">(800) 918-5520</a> to get Quote

                        </h5>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<% } %>
<br />

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>

                        <table class="button">
                            <tr>
                                <td>
                                    <a href="https://direct-dispatch.com/shipper/app/view-quote/<%= _id %>/<%= token %>">Setup Order Now</a>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>