<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>

						<h3><%= company %></h3>

					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>

						<p>We have received your request to change your Direct Dispatch account email. Please click on the secure link button below to apply new email address.</p>

					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="five columns">
				<tr>
					<td>

						<table class="button">
							<tr>
								<td>
									<a href="https://direct-dispatch.com/dealer/app/confirm-email/<%= _id %>/<%= token %>">Confirm Email</a>
								</td>
							</tr>
						</table>

					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>