<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <h3>
              <%= company %>!</h3>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <p class="lead">Your acount has been registered successfully, activate now to get started.</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="five columns">
        <tr>
          <td>

            <table class="button">
              <tr>
                <td>
                  <a href="https://direct-dispatch.com/dealer/app/activate/<%= _id %>/<%= activationToken %>">Activate Now</a>
                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <p>Thank you for signing up with Direct Dispatch. You took the first step and will soon discover just how effective
              our lead sourcing web platform can be. We take great pride in our Direct Dispatch Network of Dealers and strive
              to only partner with the best in the industry. If you have any questions, please don’t hesitate to contact
              our Customer Service Representatives at 1.800.918.5520. We’re available 24 hours a day, 7 days a week.</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>